.menu-container {
  color: #fff;
}
.menu-container .menu-title {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  background-color: #202629;
  height: 0.98rem;
}
.menu-container .menu-title .menu-logo {
  float: left;
  margin: 0.13rem 0 0 0.28rem;
}
.menu-container .menu-title .menu-logo img {
  display: block;
  width: 1.59rem;
  height: 0.5rem;
}
.menu-container .menu-title .menu-attend {
  float: right;
  width: 1.4rem;
  height: 0.51rem;
  line-height: 0.51rem;
  text-align: center;
  font-size: 0.24rem;
  border: 3px #ffe537 solid;
  margin-top: 0.15rem;
  margin-right: 0.5rem;
}
.menu-container .menu-title .menu-switch {
  float: right;
  width: 0.44rem;
  height: 0.02rem;
  margin-right: 0.2rem;
  margin-top: 0.5rem;
  background-color: #fff;
  transition: 0.5s;
}
.menu-container .menu-title .menu-switch::before {
  content: "";
  display: block;
  height: 0.02rem;
  margin-top: -0.08rem;
  background-color: #fff;
  transition: 0.5s;
}
.menu-container .menu-title .menu-switch::after {
  content: "";
  display: block;
  height: 0.02rem;
  margin-top: 0.16rem;
  background-color: #fff;
  transition: 0.5s;
}
.menu-container .menu-title .menu-switch.menu-switch-extend {
  background: transparent;
}
.menu-container .menu-title .menu-switch.menu-switch-extend::before {
  transform: rotate(45deg);
  margin-top: 0;
  background-color: red;
}
.menu-container .menu-title .menu-switch.menu-switch-extend::after {
  transform: rotate(-45deg);
  margin-top: -0.02rem;
  background-color: red;
}
.menu-container .menu-nav {
  z-index: 20;
  position: absolute;
  right: 0;
  top: 0.98rem;
  background-color: #1e1e1e;
  font-size: 0.3rem;
  text-align: center;
  width: 0;
  height: 0;
  opacity: 0;
  transition: 0.5s;
}
.menu-container .menu-nav li {
  height: 1.36rem;
  line-height: 1.36rem;
  border-top: 1px solid #2c2c2c;
  overflow: hidden;
}
.menu-container .menu-nav.menu-nav-extend {
  width: 100%;
  height: 100%;
  opacity: 1;
}
